bin/
plugins/*.so
dist/
publish/
local/
*.local
debian/changelog
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/kowabunga-kahuna/
debian/kowabunga-computing-agent/
debian/kowabunga-networking-agent/
debian/kowabunga-storage-agent/
debian/kowabunga-kawaii-agent/
debian/kowabunga-konvey-agent/
tests
tmp
node_modules/
package-lock.json
package.json
yarn.lock
kowabunga/sdk
openapitools.json
