[Unit]
Description=Kowabunga Kiwi Agent
Documentation=https://www.kowabunga.cloud/docs/
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
User=kiwi
ExecStart=/usr/bin/kiwi -c /etc/kowabunga/kiwi.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
